In [195]:
import pandas as pd
from datetime import datetime, timedelta
import random
import numpy as np

In [196]:
columns = ["발생시간" ,"이상행동 유형", "탐지 확률", "사건 관련 인원 수", "상황 발생 위치", "해당 구역 배치 요원 수"]

# 데이터 만들기

`-` 발생시간

In [197]:
date = "2024-01-11"


hours = ["0"+ str(i) if i <10 else str (i) for i in np.random.randint(0,23,40)]
minute = ["0"+ str(i) if i <10 else str (i) for i in np.random.randint(0,59,40)]
second = ["0"+ str(i) if i <10 else str (i) for i in np.random.randint(0,59,40)]


event_time = [date + " " + i + ":" + j + ":" + k for i,j,k in zip(hours, minute, second)]

`-` 이상행동 유형

In [198]:
labels = ["2인감지", "돌진", "방치", "실실신","역방향", "파손", "폭행"]

event = random.choices(labels, k = 40)

`-` 탐지확률

In [199]:
prob = [str(int(i)) + "%" for i in np.round(np.random.uniform(0.95,1.0,40),2)*100]

`-` 사건 관련 인원 수

In [200]:
event_people = np.random.randint(0,5,40).tolist()

`-` 사건 발생 위치

In [201]:
place = ["택시 승강장", "1~3번 출입구", "4~6번 출입구", "입국심사 A게이트", "입국심사 F게이트","체크인 카운터 A","4번 자동출국심사대", "면세점 A구역"]

place = random.choices(place, k = 40)

In [202]:
police = np.random.randint(0,5,40).tolist()

## 데이터 프레임 만들기

In [203]:
data = pd.DataFrame([event_time, event, prob, event_people, place, police]).T

data.columns = columns

In [204]:
data.발생시간 = pd.to_datetime(data.발생시간)

In [205]:
data = data.sort_values("발생시간")

In [206]:
data["사건 관련 인원 수"] = data["사건 관련 인원 수"].astype(int)

In [207]:
data.to_csv("data.csv", index = False)

In [208]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 25 to 17
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   발생시간           40 non-null     datetime64[ns]
 1   이상행동 유형        40 non-null     object
 2   탐지 확률          40 non-null     object
 3   사건 관련 인원 수     40 non-null     int32
 4   상황 발생 위치       40 non-null     object
 5   해당 구역 배치 요원 수  40 non-null     object
dtypes: datetime64[ns](1), int32(1), object(4)
memory usage: 2.0+ KB

# 시각화

In [209]:
data = pd.read_csv("data.csv")
#data

In [210]:
tidy_data = data.groupby(["이상행동 유형","상황 발생 위치"],as_index = False)[["사건 관련 인원 수"]].sum()

In [215]:
import pandas as pd
import numpy as np

# 예제 데이터프레임 생성
data = {'A': np.random.randint(1, 100, 10),
        'B': np.random.randint(50, 150, 10),
        'C': np.random.randint(100, 200, 10)}

df = pd.DataFrame(data)

# 사용자 정의 스타일 함수
def custom_style(value):
    if value < 30:
        return 'background-color: red'
    elif value < 70:
        return 'background-color: yellow'
    else:
        return 'background-color: green'

# applymap 메서드를 사용하여 스타일 함수를 데이터프레임에 적용
styled_df = df.style.applymap(custom_style)

# 스타일이 적용된 데이터프레임 출력
styled_df

In [219]:
iris = px.data.iris()

In [224]:
iris = iris.iloc[:, 0:4]

In [226]:
iris.applymap(lambda x  : int(x))

     sepal_length  sepal_width  petal_length  petal_width
0               5            3             1            0
1               4            3             1            0
2               4            3             1            0
3               4            3             1            0
4               5            3             1            0
..            ...          ...           ...          ...
145             6            3             5            2
146             6            2             5            1
147             6            3             5            2
148             6            3             5            2
149             5            3             5            1

[150 rows x 4 columns]

## 혼잡도 데이터 생성

In [320]:
time_table = ["00~01시","01~02시","02~03시","03~04시","04~05시","05~06시","06~07시","07~08시",
				  "08~09시","09~10시","10~11시","11~12시","12~13시","13~14시","14~15시","15~16시","16~17시",
				  "17~18시","18~19시","19~20시","20~21시","21~22시","22~23시","23~24시"]

### T1 입국장 데이터

In [321]:
import numpy as np

In [322]:
columns = ["(A,B)", "C", "D", "(E,F)"]

In [323]:
t1 = pd.DataFrame(np.random.randint(6000,9000,96).reshape(24,4))
t1.columns = columns
t1["합계"] = t1.sum(axis = 1)
t1["label"] = "T1"
t1["location"] = "T1 입국장"
t1["시간대"] = time_table

In [324]:
t2 = pd.DataFrame(np.random.randint(6000,9000,96).reshape(24,4))
t2.columns = columns
t2["합계"] = t2.sum(axis = 1)
t2["label"] = "T1"
t2["location"] = "T1 출국장"
t2["시간대"] = time_table

In [325]:
t3 = pd.DataFrame(np.random.randint(2000,4500,96).reshape(24,4))
t3.columns = columns
t3["합계"] = t3.sum(axis = 1)
t3["label"] = "T2"
t3["location"] = "T2 입국장"
t3["시간대"] = time_table

In [326]:
t4 = pd.DataFrame(np.random.randint(2000,4500,96).reshape(24,4))
t4.columns = columns
t4["합계"] = t4.sum(axis = 1)
t4["label"] = "T2"
t4["location"] = "T2 출국장"
t4["시간대"] = time_table

In [327]:
total_data = pd.concat([t1,t2,t3,t4],axis = 0)

In [328]:
total_data.iloc[:, [6,7,5,0,1,2,3]].to_csv("혼잡도.csv", index = False)

## 색깔 칠하기 test

In [329]:
data = pd.read_csv("혼잡도.csv")

In [330]:
def custom_style(value):
		if value <= 7000 :
			return 'background-color: grey'
		if 7000 <value <= 7600 :
			return 'background-color: blue'
		elif 7600 < value <= 8200 :
			return 'background-color: yellow'
		elif 8200 <value <= 8600 :
			return 'background-color: orange'
		else :
			return 'background-color: red'

In [331]:
data.columns

Index(['location', '시간대', 'label', '(A,B)', 'C', 'D', '(E,F)'], dtype='object')

In [332]:
 data.loc[data.location == "T1 입국장", ["시간대",'(A,B)', 'C', 'D', '(E,F)']]

       시간대  (A,B)     C     D  (E,F)
0   00~01시   6906  8483  6277   8962
1   01~02시   7006  8221  6470   8954
2   02~03시   7412  8862  6484   8696
3   03~04시   6744  8604  7273   7958
4   04~05시   8365  6475  6707   7511
5   05~06시   6436  6664  7233   8624
6   06~07시   6416  6058  7364   8516
7   07~08시   6170  6842  6034   7617
8   08~09시   7152  8682  7635   8739
9   09~10시   7504  6032  8399   7795
10  10~11시   6141  7403  6642   7194
11  11~12시   8065  7071  6069   6198
12  12~13시   7690  8077  8591   7850
13  13~14시   7049  7841  7381   7899
14  14~15시   6478  8708  6946   8473
15  15~16시   7921  6623  8523   8928
16  16~17시   6879  7553  8036   7513
17  17~18시   6216  6830  8063   6047
18  18~19시   6171  6122  8937   7261
19  19~20시   6094  6500  8131   6211
20  20~21시   7454  8842  7204   6471
21  21~22시   7319  8724  6387   6562
22  22~23시   7203  7882  6664   8324
23  23~24시   6208  8596  6262   7966

In [318]:
df = data.loc[:,["시간대",'(A,B)', 'C', 'D', '(E,F)']].set_index("시간대").T

***

In [422]:
index = ["BLUE","PINK", "ORANGE", "RED"]
T1 = ["7,000 ~ 7,600명", "7,600 ~ 8,200명", "8,200 ~ 8,600명", "8,600명 초과" ]
T2 = ["3,200 ~ 3,500명", "3,500 ~ 3,800명", "3,800 ~ 4,000명", "4,000명 초과" ]

table = pd.DataFrame([index, T1, T2]).T.reset_index(drop=True)
table.columns = ["구분", "제1여객터미널 (T1)", "제2여객터미널 (T2)"]

In [ ]:
def colors(x) :
    return f"background : {x}"